/* general */
body {
  font-family: 'poppins', sans-serif;
  font-size: 85%;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* NAV */
nav {
  font-size: large;
  padding: 0.3rem 0;
}

nav a {
  color: white;
}

.navbar-nav .nav-link {
  white-space: nowrap; /* No saltos de línea */
}

.img-nombre {
  max-width: 25%;
  margin-right: 1rem; /* Espaciado a la derecha */
}

/* Intro */
.intro {
  padding: 2rem 0;
  background-color: #ffffff; 
}

.intro-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.intro-content .image img {
  width: 250px; 
  height: auto;
  border-radius: 10px; /* Bordes redondeados */
  max-width: 100%;
}

.intro-content .text {
  flex: 1;
  text-align: left;
}

.intro-content h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.intro-content h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #666;
}

.intro-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}
/* Educación y experiencia */
.ed-ex-skills {
  background-color: #eceef0f7;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 2rem;
}

.education ul li, .experience p {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre texto e ícono */
 
  white-space: normal;
}

.education h3, .experience h3 {
  margin-bottom: 1rem; /* MAS espacio entre los títulos y el contenido */
}


.skill-box {
  background-color: #f8f9fa;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.skill-box h4 {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.skill-box p {
  margin: 0;
  color: #555;
}


/* Portafolio */
.card img {
  border-radius: 10px;
  object-fit: cover;
  max-height: 180px;
}

.card h5 {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.card p {
  color: #555;
}

.card .btn {
  margin-right: 5px;
}

/* Contacto */
.contact-section {
  background-color: #eceef0f7;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 700px;
  padding: 2rem;
}

.contact-item p {
  font-size: 1rem;
  color: #333;
  margin: 0;
}


/* Pie de página */
.footer {
  background-color: #343a40; 
  color: #f8f9fa; 
}


